/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --primary-color: rgba(191, 107, 4, 1);
  --point-color: rgba(255, 192, 0, .15);
  --background-color: rgba(255, 192, 0, 1);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--point-color);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-card {
  margin: 15px 25px;
  padding: 0 10px;
  width: calc(100% - 50px);
  max-width: 750px;
  height: calc(100vh - #{var(--app-bar-height)} - 30px);
  .n-card__content {
    padding: 0;
  }
  .buttons {
    margin-top: 50px;
    text-align: right;
  }
}

.modal-content .title, .input-form .title {
  margin-bottom: 15px;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.input-form {
  .sub-title {
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--vt-c-black-soft);
  }
  .box-input {
    margin-bottom: 30px;
    .input {
      margin-bottom: 10px;
    }
  }
}

.box-flex {
  display: flex;
  > * {
    flex: 1;
  }
}

.box-content-table {
  border: 1px solid #e8e8e8;
  box-shadow: 4px 3px 6px #e8e8e8;
  .item + .item {
    border-top: 1px solid #e8e8e8;
  }
  > .item {
    display: flex;
    padding: 5px 0;
    > * {
      margin: auto;
    }
    > .value {
      flex: 5;
    }
    .label {
      flex: 2;
      padding-left: 20px;
      font-weight: bold;
    }
  }
}

.box-popover-menu .item-menu {
  cursor: pointer;
  padding: 5px 20px;
  font-weight: 600;
  &:hover {
    color: var(--vt-c-white);
    background: var(--background-color);
  }
}
